<html ng-app="gottaEat">
    <head>
        <title>GottaEat</title>
        <script src="/modules/angular/angular.js"></script>
        <script src="/modules/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
        <script src="/modules/angularjs-slider/dist/rzslider.js"></script>
        <script src="https://use.fontawesome.com/65c60834b5.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB20RLa3am7lyDxjTsLNrDN3m7KO8CGLFc&libraries=places"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" type="text/css" href="/modules/angularjs-slider/dist/rzslider.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />

    </head>
    <body ng-controller="mainController">
        <div ng-if="!hasLocation">
            <div ng-if=!locationError class="page-loading-container">
                <i class="fa fa-cutlery loader" aria-hidden="true"></i>
            </div>
            <div ng-if=locationError class="page-loading-container">
                <h1>Error getting location.</h1>
            </div>
        </div>
        <div ng-if="hasLocation">
            <div ng-if="!showModal" class="input-container">
                <div class="btn-container">
                    <button ng-click="getRestaurants()" type="button" class="btn btn-custom">GottaEat</button>
                </div>
                <div class="slider-container">
                    <rzslider ng-model="radius" rz-slider-model="radius" rz-slider-options="{floor: 1, ceil: 5, hideLimitLabels: true}"></rzslider>
                </div>
            </div>
            <div ng-if="showModal" id="infoModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="showHideModal()"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="modal-body">
                            <div class="map-wrapper">
                                <div class="loading-container">
                                    <i class="fa fa-cutlery loader" aria-hidden="true"></i>
                                </div>
                                <iframe
                                        id="map"
                                        frameborder="0" style="border:0"
                                        ng-src="{{getMapURL()}}">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/controllers/mainController.js"></script>
    </body>
</html>
