body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../resources/background.png");
}

.btn-container{
    display: flex;
    margin-top: 40vh;
}

.page-loading-container {
    padding-top: 17%;
    text-align: center;
}

.loading-container {
    display: flex;
    padding-top: 20%;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    font-size: 125px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.btn-custom {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: #f2f2f2;
    background-color: #E74C3C;
}

.btn-custom:hover,
.btn-custom:focus {
    color: #e6e6e6;
    background-color: #C0392B;
    cursor: pointer;
}

#infoModal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 5vh;
}

#infoModal .modal-content {
    background-color: #E74C3C;
}

#infoModal .modal-header {
    border-bottom: none;
    padding: 5px;
}

#map,
.map-wrapper {
    height: 400px;
}

#map {
    position: absolute;
    top: 0;
    width: 95%;
}