body {
    font-family: 'Roboto', sans-serif !important;
    background-image: url('../assets/background.png');
    background-color: color(white);
    color: color(black);
}

a {
    text-decoration: none;
    color: color(grey);
}

a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}

button {
  border-radius: 5px;
  background-color: color(red);
  border-color: color(red);
  border-style: solid;
  margin: 0.5rem;
  padding: 0.75rem;
  color: color(white);
  font-size: 2rem;
  &:hover {
    background-color: color(redDark);
    border-color: color(redDark);
    cursor: pointer;
  }

  &.dark {
    background-color: color(redDark);
    border-color: color(redDark);

    &:hover {
      background-color: darken(color(redDark), 10%);
      border-color: darken(color(redDark), 10%);
    }
  }
}

input,
textarea {
  font-family: 'Roboto', sans-serif !important;
  border: thin solid color(grey);
  background-color: white;
  border-radius: 0.25rem;
  line-height: 1;
  padding: 0.4rem 0.5rem;
  width: 100%;

  &:focus {
    border-color: color(greyDark);
  }
}

textarea {
  resize: vertical;
}

